#initially-showing {
  display: none;
}

#showing-clown {
  display: none;
}

.clickableReturn {
  cursor: pointer;
  color: #0088cc;
}

.clickableReturn2 {
  cursor: pointer;
  color: #0088cc;
}

.clickableReturn:hover {
  text-decoration: underline;
}

.clickableReturn2:hover {
  text-decoration: underline;
}
